body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

.navbar {
    background: black;
    color: white;
    padding: 15px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.banner {
    text-align: center;
    background: orange;
    padding: 20px;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

button {
    background: green;
    color: white;
    border: none;
    padding: 10px;
}
